body {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.chapter, .subChapter {
	margin-right: 0.5em;
}

.subChapter {
	margin-left: 0.5em;
}


/************************
	NAV
************************/
nav header {
	font-size: 2em;
	text-align: center;
}

.nav-container {
	height: 30vh;
	overflow-y: scroll;
	list-style-type: none;
	padding: 0;
	border: 2px solid black;
	padding: 5px;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:link, nav a:visited { color: black; }
nav a:hover, nav a:active { color: red; }

nav li {
	margin: 10px 0 10px 0;
	padding-left: 83px;
	text-indent: -83px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	list-style-type: none;
}

nav .subChapter { margin-left: -1em; }

nav .sub-section li { text-indent: -25px; }

.yesBorder {
	border-top: 1px solid black;
	padding-top: 10px;
}

.noBorder { border-bottom: none; }

.nav-item-last  {border: none; }

@media (min-width: 53em) {
	nav {
		position: fixed;
		width: 24%;
		overflow-y: scroll;
		height: 100vh;
	}

	.nav-container {
		height: auto;
		overflow: initial;
	}

	main {
		position: relative;
		left: 25%;
		width: 75%;
	}

	nav li { text-indent: -75px; }
	nav .sub-section li { padding-left: 20px; }
	nav .sub-section li { text-indent: -15px; }
}

/************************
	MAIN
************************/
main .main-section, main .sub-section {
	margin-bottom: 40px;
	margin-top: 20px;
}

.main-section header {
	font-size: 1.5em;
	font-weight: 600;
}

main li { padding: 5px; }


/************************
	TABLE
************************/
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th { text-align: left; }

caption { text-align: left; }

.leftTable { font-weight: bold; }

code { font-weight: 900; }


/************************
	FIGURES, IMAGES, AND TABLES
************************/
figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 100%;
	max-width: 75%;
    display: block;
    height: auto;
}

table caption {
	margin-bottom: 5px;
}